.news {
    margin: 5px auto; 
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    margin-bottom: 30px;
}

.news-header {
    margin-left: 10px;
}

.date, .author {
    color: darkblue;
}

.news-body {
    margin-left: 10px;
}

.head {
    margin-bottom: 30px;
    padding: 8px;
    background-color: cornflowerblue;
}

h2 {
    margin-left: 20px;
    color: white;
}