.news {
    width: 75%;
    margin: 5px auto;
    margin-bottom: 30px;
    background-color: white;  
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}

.news-header {
    margin-left: 10px;
}

.date, .author {
    color: darkblue;
}

.news-body {
    margin-left: 10px;
}

.head {
    margin-bottom: 30px;
    padding: 8px;
    background-color: cornflowerblue;
}

h2 {
    margin-left: 20px;
    color: white;
}

.custom-select.sort {
    width: 40%;
    margin-right: 20px;
}

.container {
    height: 100px;
}